:root {
    --vermelho: #e50914;
    --preto:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
 
/* elemtnos Base */

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color:black;
    font-weight: 400;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
    font-size: 18px;
}

header nav a:hover {
    color: #fff;
}

/* Filme principal */

.info {
    font-size: 18px;
    background: url("../img/download.png");
    

    height: 900px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container-info {
    margin-left: 40px;
}
.container-info p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-info ul li{
    margin: 30px 2px;

    font-weight: bold;
    
    
}
.info .container-info {
    width: 70%;
}



.info .descricao-info{
    margin-top: 18px;
    margin-bottom: 40px;
    
    
}

.titulo {
    margin-top: 1%;
    font-size: 40px;
    font-family: 'Trebuchet MS',  Arial, sans-serif;
}


.contatos a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 25px;
}
.contatos ul li{
    display: flex;
    align-items: center;

}